
header {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    align-items: center;
    background-color: lightblue;

    ul {
        list-style: none;
        margin: 0;
        padding: 20px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 110%;
    }
}

a {
    text-decoration: none;
}

.active {
    cursor: default;
    pointer-events: none;
    color: darken($color: lightblue, $amount: 40);
    text-decoration: underline;
}